<h4>Notifications</h4>
<p><%= discussion.subscribed_reason(user) %></p>
<% if discussion.subscribed?(user) %>
  <%= button_to "Unsubscribe", discussion_notifications_path(discussion), method: :post, class: "btn btn-primary btn-sm" %>
<% else %>
  <%= button_to "Subscribe", discussion_notifications_path(discussion), method: :post, class: "btn btn-primary btn-sm" %>
<% end %>
