<h4>Notifications</h4>
<p><%= discussion.subscribed_reason(user) %></p>
<% if discussion.subscribed?(user) %>
  <%= button_to "Unsubscribe", root_path, class: "btn btn-primary btn-sm" %>
<% else %>
  <%= button_to "Subscribe", root_path, class: "btn btn-primary btn-sm" %>
<% end %>
