<div id="<%= dom_id(notification) %>" class="d-flex my-2">
  <% noticed_notification = notification.to_notification %>

  <%= link_to noticed_notification.message, noticed_notification.url %> | <%= notification.created_at %>
</div>
