<div id="<%= dom_id(category) %>" class="d-flex align-items-start justify-content-between">
  <h4><%= category.name %></h4>
  <span class="badge bg-secondary rounded-pill text-light"><%= category.discussions_count if category.discussions_count&.positive? %></span>
</div>
